<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Ceará Turismo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let card of cards">
    <img [alt]="card.alt" [src]="card.src" />

    <ion-card-header>
      <div class="tiltle-visitable" *ngIf="card.visitable; else closed">
        <ion-card-title>{{ card.title }}</ion-card-title>
        <ion-badge color="success">aberto</ion-badge>
      </div>
      <ng-template #closed>
        <div>
          <ion-card-title>{{ card.title }}</ion-card-title>
          <ion-badge color="danger">fechado</ion-badge>
        </div>
      </ng-template>
      <ion-card-subtitle>{{ card.city }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
      {{ card.about }}
      
    </ion-card-content>
  </ion-card>

</ion-content>
