<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ceará Turismo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Praia de Iracema" src="../../assets/images/fortaleza iracema.jpg" />
    <ion-card-header>
      <ion-card-title>Iracema</ion-card-title>
      <ion-card-subtitle>Fortaleza - Ceará </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
      A Praia de Iracema é uma praia de bairro homônimo localizados na zona central do município de Fortaleza, no estado do Ceará. Seu nome vem da personagem Iracema, do escritor cearense José de Alencar. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Praia de Iracema" src="../../assets/images/castelao.jpg" />
    <ion-card-header>
      <ion-card-title>Castelão</ion-card-title>
      <ion-card-subtitle>Fortaleza - Ceará </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
      O Estádio Governador Plácido Castelo, também conhecido como Arena Castelão, é um estádio de futebol brasileiro localizado em Fortaleza, inaugurado em 1973. Sua capacidade atual é de até 63.903 espectadores.
    </ion-card-content>
  </ion-card>
</ion-content>
